@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
body{
    background-image: url("../imagens/background.jpeg");
    font-family: 'Fredoka', 'sans-serif';
}

input[type=button], [type=reset]{
    cursor: pointer;
}

button{
    cursor: pointer;
}